
@model List<Categories>

<h2>All Categories</h2>
<br />
<br />

<a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create Category</a>
<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Image</th>
        <th>Update</th>
        <th>Delete</th>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>
                        <img src="~/images/@item.Img" style="width:48px" class="img-thumbnail" />
                    </td>
                    <center>

                    <td />
                    <a asp-route-id="@item.ID" asp-action="Edit" class="btn btn-info">Update</a>
                    <td />
                    <a asp-route-id="@item.ID" asp-action="Delete" class="btn btn-Danger">Delete</a>
                    <td />

                    </center>
                </tr>

            }

        </tbody>

    </table>
}
else
{

    <div class="alert alert-danger">
        <h4>There are no Categories</h4>
    </div>

}




