
@model Lesson

<h2>Lesson Details</h2>

<div>
    <h3>@Model.Title</h3>

    <br/>
    <br/>

      @if (Model.Video == null)
        {
            <p>No Video</p>
        }
        else
        {
        <a href="@Model.Video" target="_blank">
            <i class="fas fa-play-circle" style="font-size: 48px;"></i> <!-- Font Awesome icon -->
        </a>
        }
    
        <br/>
        <br/>
        <br/>


    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Start Date:</strong> @Model.CreationDate.ToString("g")</p>
</div>

@* <a asp-action="Index" class="btn btn-primary">Back to List</a>
 *@
<a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
