<html>
    <head>
       
        <title>Courses online</title>
    </head>

    <body>
        <a class="button" asp-action="Index">Home</a>
        <a class="button" asp-action="Privacy">Privacy</a>
    @RenderBody()
    </body>
</html>